# Clock Inputs
set_io fpgaClk 15
set_io clk40MHz 35
set_io gnssPPS 6

# SPI Interface (Standard 4mA is fine for these)
set_io fpgaMOSI 17
set_io fpgaNCS 16
set_io fpgaMISO 14

# RF Exciter Outputs (DDR Capable, 12mA High Drive)
set_io rfPushBase 42
set_io rfPushPeak 37
set_io rfPullBase 45
set_io rfPullPeak 48
set_io driveNEN 25
